In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.ranint(0, 100,(10))

AttributeError: module 'numpy.random' has no attribute 'ranint'

In [5]:
data = np.random.randint(0, 100,(10,2))

In [6]:
data

array([[22, 71],
       [99, 63],
       [30, 63],
       [93, 76],
       [94,  2],
       [45, 11],
       [28, 86],
       [35, 17],
       [66, 23],
       [73,  3]])

In [7]:
scaler_model = MinMaxScaler()

In [8]:
scaler_model.fit(data)

C:\Users\kprajapati\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [9]:
MinMaxScaler(copy=True, feature_range=(0,1))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [10]:
scaler_model.fit_transform(data)

C:\Users\kprajapati\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.        , 0.82142857],
       [1.        , 0.72619048],
       [0.1038961 , 0.72619048],
       [0.92207792, 0.88095238],
       [0.93506494, 0.        ],
       [0.2987013 , 0.10714286],
       [0.07792208, 1.        ],
       [0.16883117, 0.17857143],
       [0.57142857, 0.25      ],
       [0.66233766, 0.01190476]])

In [12]:
import pandas as pd

In [13]:
mydata = np.random.randint(0,101,(50,4))

In [14]:
mydata

array([[ 79,  75,  60,  66],
       [  4,  63,  29,  18],
       [ 11,  98,  67,  59],
       [ 68,  37,  40,  28],
       [ 16,  32,  62,  51],
       [ 49,  32,  31,  14],
       [ 68,   0,  29,  61],
       [ 71,  79,  14,  77],
       [ 25,  45,  70,  26],
       [ 88,  11,  15, 100],
       [  4,  45,  85,  61],
       [ 41,  40,  51,  45],
       [ 50,  38,  85,  52],
       [ 73,  70,  80,  63],
       [ 28,  17,  59,  82],
       [ 83,   9,  43,  72],
       [ 58,  39,  57,  64],
       [ 91,  22,  92,  59],
       [ 47,  76,  29,  47],
       [ 25,  16,  72,  38],
       [ 45,  35,  38,   9],
       [ 46,  16,  62,  27],
       [ 90,  63,  43,  81],
       [ 87,  40,  24, 100],
       [ 73,  10,   5,  47],
       [ 22,  76,  35,  13],
       [ 77,   7,  31,  73],
       [ 32,  63,  63,  38],
       [ 97,   3,  33,  88],
       [ 94,  20,  24, 100],
       [ 65,  81,  99,  27],
       [ 48,  93,  27,   2],
       [  7,  91,  25,  65],
       [ 32,  73,   7,  44],
       [ 73,  81,  44,  95],
       [  1,  36,  17,   7],
       [ 28,  25,   7,  37],
       [  6,   8,  77,   2],
       [ 38,  16,  61,  54],
       [ 43,  50,  87,  75],
       [  4,  83,  38,  54],
       [  4,   0,  26,  38],
       [ 84,  83,  69,  44],
       [ 53,  32,  10,  44],
       [ 75,  24,  58,  14],
       [  6,  14,  69,  19],
       [ 86,  88,  50,  39],
       [ 78,  46,  63,  49],
       [  3,  20,  23,  20],
       [ 80,  16,  28,  23]])

In [15]:
data = pd.DataFrame(data=mydata, columns=['f1','f2','f3','f4'])

In [18]:
X = df[['f1','f2','f3']]

NameError: name 'df' is not defined

In [19]:
X = df[['f1','f2','f3']]

NameError: name 'df' is not defined

In [20]:
df = pd.DataFrame(data=mydata, columns=['f1','f2','f3','label'])

In [21]:
df

    f1  f2  f3  label
0   79  75  60     66
1    4  63  29     18
2   11  98  67     59
3   68  37  40     28
4   16  32  62     51
5   49  32  31     14
6   68   0  29     61
7   71  79  14     77
8   25  45  70     26
9   88  11  15    100
10   4  45  85     61
11  41  40  51     45
12  50  38  85     52
13  73  70  80     63
14  28  17  59     82
15  83   9  43     72
16  58  39  57     64
17  91  22  92     59
18  47  76  29     47
19  25  16  72     38
20  45  35  38      9
21  46  16  62     27
22  90  63  43     81
23  87  40  24    100
24  73  10   5     47
25  22  76  35     13
26  77   7  31     73
27  32  63  63     38
28  97   3  33     88
29  94  20  24    100
30  65  81  99     27
31  48  93  27      2
32   7  91  25     65
33  32  73   7     44
34  73  81  44     95
35   1  36  17      7
36  28  25   7     37
37   6   8  77      2
38  38  16  61     54
39  43  50  87     75
40   4  83  38     54
41   4   0  26     38
42  84  83  69     44
43  53  32  10     44
44  75  24  58     14
45   6  14  69     19
46  86  88  50     39
47  78  46  63     49
48   3  20  23     20
49  80  16  28     23

In [22]:
X = df[['f1','f2','f3']]

In [23]:
x

NameError: name 'x' is not defined

In [24]:
X

    f1  f2  f3
0   79  75  60
1    4  63  29
2   11  98  67
3   68  37  40
4   16  32  62
5   49  32  31
6   68   0  29
7   71  79  14
8   25  45  70
9   88  11  15
10   4  45  85
11  41  40  51
12  50  38  85
13  73  70  80
14  28  17  59
15  83   9  43
16  58  39  57
17  91  22  92
18  47  76  29
19  25  16  72
20  45  35  38
21  46  16  62
22  90  63  43
23  87  40  24
24  73  10   5
25  22  76  35
26  77   7  31
27  32  63  63
28  97   3  33
29  94  20  24
30  65  81  99
31  48  93  27
32   7  91  25
33  32  73   7
34  73  81  44
35   1  36  17
36  28  25   7
37   6   8  77
38  38  16  61
39  43  50  87
40   4  83  38
41   4   0  26
42  84  83  69
43  53  32  10
44  75  24  58
45   6  14  69
46  86  88  50
47  78  46  63
48   3  20  23
49  80  16  28

In [25]:
y = df['label']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

In [28]:
X_train.shape

(35, 3)

In [29]:
X_test

    f1  f2  f3
37   6   8  77
14  28  17  59
21  46  16  62
32   7  91  25
22  90  63  43
1    4  63  29
26  77   7  31
46  86  88  50
42  84  83  69
47  78  46  63
16  58  39  57
24  73  10   5
7   71  79  14
45   6  14  69
18  47  76  29

In [30]:
X_test.shape

(15, 3)